.card-nome-produto {
    font-size: 14px;
}

.card-descrição-produto {
    font-size: 12px;
}

.card-preço-antigo {
    font-size: 12px;
}

.card-preço-novo {
    font-size: 16px;
}

img{
    width: 150px;
    height: 150px;
}