<div class="container">
    <div class="row">
        <h3 class="mt-4">Meu perfil</h3>
        <hr>

        <div class="mt-4">
            <h5>Dados Pessoais</h5>

            <div class="card w-75">
                <div class="card-body d-flex justify-content-around">
                    <p class="card-text"><strong>Nome completo:</strong></p>
                    <p class="card-text">Julia Januario Pereira</p>
                    <p class="card-text text-muted">julia@tech2you.com.br</p>
                </div>
            </div>
            <div class="card w-75">
                <div class="card-body d-flex justify-content-around">
                    <p class="card-text"><strong>CPF:</strong></p>
                    <p class="card-text">000.000.000-00</p>
                </div>
            </div>
            <div class="card w-75">
                <div class="card-body d-flex justify-content-around">
                    <p class="card-text"><strong>Data de nascimento:</strong></p>
                    <p class="card-text">08/04/1997</p>
                </div>
            </div>

        </div>

        <div class="mt-4">
            <h5>Endereço</h5>
            <div class="d-block ">
                <div class="card w-75">
                    <div class="card-body d-flex justify-content-around">
                        <p class="card-text"><strong>CEP:</strong></p>
                        <p class="card-text">00000-00</p>
                    </div>
                </div>
                <div class="card w-75">
                    <div class="card-body d-flex justify-content-around">
                        <p class="card-text"><strong>Logradouro:</strong></p>
                        <p class="card-text">Rua das abobrinhas</p>
                    </div>
                </div>
                <div class="card w-75">
                    <div class="card-body d-flex justify-content-around">
                        <p class="card-text"><strong>Nº:</strong></p>
                        <p class="card-text">123</p>
                        <p class="card-text"><strong>Complemento:</strong></p>
                        <p class="card-text">Casa</p>
                        <p class="card-text"><strong>Bairro:</strong></p>
                        <p class="card-text">Cafundó do Judas</p>
                    </div>
                </div>
                <div class="card w-75">
                    <div class="card-body d-flex justify-content-around">
                        <p class="card-text"><strong>Cidade:</strong></p>
                        <p class="card-text">Onde Judas perdeu as botas</p>
                        <p class="card-text"><strong>Estado:</strong></p>
                        <p class="card-text">PQP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>