<!-- Navbar -->
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/produtos">Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Meus Pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/perfil" >Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/carrinho">Carrinho</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/cadastro">Cadastro</a>
    </li>
</ul>
<router-outlet></router-outlet>