#passwordHelp{
    font-size: 12px;
    padding-left: 5px;
}

.btn{
    padding: 5px 30px;
}

.criar-conta{
    margin-top: 28px;
    padding-left: 20px;
    cursor: pointer;
    font-size: 16px;
}

.card{
    border-radius: 15px;
}


