<div class="container">
  <div class="row">
    <h3 class="mt-4">Quero criar uma conta</h3>
    <hr>

    <div class="row">
      <!-- Email e senha -->
      <div class="d-block col-lg-6">
        <!-- Email -->
        <div class="col-md-4">
          <div class="mt-4 mb-3">
            <label for="exampleFormControlInput1" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
        </div>
        <!-- Senha -->
        <div class="col-md-3">
          <div class="mt-4 mb-3">
            <label for="exampleFormControlInput4" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleFormControlInput4" placeholder="******">
          </div>
        </div>
        <hr class="col-md-8">
      </div>

      <!-- Dados Pessoais -->
      <div class="d-block col-lg-6">
        <h5 class="mt-4">Dados pessoais</h5>
        <!-- Nome -->
        <div class="col-md-6">
          <div class="mt-4 mb-3">
            <label for="exampleFormControlInput3" class="form-label">Nome completo:</label>
            <input type="text" class="form-control" id="exampleFormControlInput3" placeholder="Digite seu nome aqui">
          </div>
        </div>
        <div class="d-flex">
          <!-- CPF -->
          <div class="col-md-4">
            <div class="mt-4 mb-3" style="margin-right: 10px;">
              <label for="exampleFormControlInput2" class="form-label">CPF:</label>
              <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="000.000.000-00">
            </div>
          </div>
          <!-- Data Nascimento -->
          <div class="col-md-4">
            <div class="mt-4 mb-3">
              <label for="exampleFormControlInput4" class="form-label">Data de nascimento:</label>
              <input type="text" class="form-control" id="exampleFormControlInput4" placeholder="DD/MM/AAAA">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <button class="mb-4 col-md-3 btn btn-primary">Salvar</button>
  </div>
</div>