<div class="container">
    <div class="row">
        <h3 class="mt-4">Meu Carrinho</h3>
        <hr>
    </div>
    <!-- Card Produtos -->
    <div *ngFor="let produtos of carrinhoProdutos" class="card mb-12 d-flex mt-4">
        <div class="row g-0">
            <!-- Imagem Produto-->
            <div class="col-md-2">
                <img src={{produtos.image}} class="img-fluid rounded-start ml-10" alt="...">
            </div>
            <!-- Descrição Produto -->
            <div class="col-md-6">
                <div class="d-flex">
                    <div class="card-body">
                        <h5 class="card-title">{{produtos.name}}</h5>
                        <p class="card-text"><small class="text-muted">{{produtos.description}}
                            </small></p>
                    </div>
                </div>
            </div>
            <!-- Botões Adicionar + -->
            <div class="col-md-2 d-flex align-items-center">
                <div class="d-flex align-items-center align-self-center">
                    <button type="button" class="btn btn-outline-primary">-</button>
                    <span class="counter"><strong>1</strong></span>
                    <button type="button" class="btn btn-outline-primary">+</button>
                </div>
            </div>
            <!-- Preço -->
            <div class="col-md-2 d-flex align-items-center">
                <h3>{{produtos.price | toBrazilianCurrency}}</h3>
            </div>
        </div>
    </div>
    <!-- Preço Final Frete -->
    <div class="d-flex align-items-end flex-column" style="height: 200px;">
        <p class="p-2 mt-4 text-muted">Frete: R$ 28,10</p>
        <div class="d-flex justify-content-between">
            <p class="mr-auto p-2">Total com frete</p>
            <h3 class="p-2">R$ 93,09</h3>
        </div>
        
      </div>
    <!-- Botão Compra -->
    <div class="d-flex justify-content-end">
        <a class="mr-auto p-2 text-muted comprar-mais-produtos" routerLink="/produtos">Comprar mais produtos</a>
        <a routerLink="/finalizar-compra" class="btn btn-primary d-flex justify-content-center p-2 btn-finalizar-compra">Finalizar compra</a>

      </div>
</div>
